Frame/DHFrame/Service References/FrameService/ModuleAuth41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8077/Services/ModuleAuth.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_AccessModuelList_x003E_k__BackingField" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_AccessRoleList_x003E_k__BackingField" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element name="_x003C_AuthResult_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_AuthTokenID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsSuperAccount_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_WorkNo_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
</xs:schema>